<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rhythm -->
      <package
            uri="http://fr.polytech.dsl/rhythm"
            class="fr.polytech.dsl.rhythm.RhythmPackage"
            genModel="model/rhythm.genmodel"/>
   </extension>

</plugin>
